    <body>  
      <form action="/search/" method="get">  
         Introduzca a súa búsqueda  <br>  
        <input type="text" name="data"> 
	<br>
	<button type="submit">Enviar</button>
      </form>  
    </body>  
