    <body>  
      <form action="/search/" method="get">  
         Introduzca a súa búsqueda  <br>
	<select name="data" id="data">
  		<option value="1">Poboación total que naceu e vive na Coruña</option>
		<option value="2">Tasa de paro total en España</option>
	</select>
	<br>
	<input type="text" id="datanum" name="datanum">
	<br>
	<button type="submit">Enviar</button>
      </form>  
    </body>  
