<body>
  <h1>A súa solicitude estase procesando</h1>
  <div align="center">
    <form action="/" method="get">  
	<button type="submit">Volver</button>
    </form> 
    <form action="/result/" method="get">  
	<button type="submit">Ver resultados</button>
    </form>  
  </div>
</body>

